/*strong,*/
		/*b {*/
		/*	font-weight: 600*/
		/*}*/
		/*h1,*/
		/*h2,*/
		/*h3,*/
		/*h4,*/
		/*h5,*/
		/*h6 {*/
		/*	font-weight: 300;*/
		/*	line-height: 150%;*/
		/*}*/
		/*i.fa {*/
		/*	color: #333;*/
		/*}*/
		*,
		*:before,
		*:after {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		/*clearfixes*/
		.cf:before,
		.cf:after {
			content: " ";
			display: table;
		}
		.cf:after {
			clear: both;
		}
		.container {
			position: relative;
			padding: 25px;
		}
		.container:last-of-type {
			padding-top: 0px;
		}
		/*animation element*/
		.animation-element {
			position: relative;
			/*width: 30%;*/
			/*margin: 0% 1.33 2.66% 1.33%;*/
			float: left;
		}
		/*3 grid layout*/
		/*.animation-element:nth-of-type(3n-2) {*/
		/*	width: 31.5%;*/
		/*	margin: 0% 1.375% 2.75% 0%;*/
		/*	clear: left;*/
		/*}*/
		/*.animation-element:nth-of-type(3n-1) {*/
		/*	width: 31.5%;*/
		/*	margin: 0% 1.375% 2.75% 1.375%;*/
		/*}*/
		/*.animation-element:nth-of-type(3n-0) {*/
		/*	width: 31.5%;*/
		/*	margin: 0% 0% 2.75% 1.375%;*/
		/*	clear: right;*/
		/*}*/
		/*bounce up animation for the subject*/
		.bounce-up .subject {
			opacity: 0;
			-moz-transition: all 700ms ease-out;
			-webkit-transition: all 700ms ease-out;
			-o-transition: all 700ms ease-out;
			transition: all 700ms ease-out;
			-moz-transform: translate3d(0px, 200px, 0px);
			-webkit-transform: translate3d(0px, 200px, 0px);
			-o-transform: translate(0px, 200px);
			-ms-transform: translate(0px, 200px);
			transform: translate3d(0px, 200, 0px);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		.bounce-up.in-view .subject {
			opacity: 1;
			-moz-transform: translate3d(0px, 0px, 0px);
			-webkit-transform: translate3d(0px, 0px, 0px);
			-o-transform: translate(0px, 0px);
			-ms-transform: translate(0px, 0px);
			transform: translate3d(0px, 0px, 0px);
		}
		.subject {
			float: left;
			width: 100%;
			margin: 0% 1.33% 2.66% 1.33%;
			/*background: #F5F5F5;*/
			padding: 15px;
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
			border: solid 1px #EAEAEA;
		}
		/*media queries for small devices*/
		@media screen and (max-width: 678px) {
			.main-container {
				margin: 20px 15px;
			}
			.animation-element,
			.animation-element:nth-of-type(3n-1),
			.animation-element:nth-of-type(3n-2),
			.animation-element:nth-of-type(3n-0) {
				width: 100%;
				margin: 0px 0px 30px 0px;
			}
			.subject .header .date,
			.subject .header .category {
				width: 100%;
				margin-bottom: 10px;
				text-align: center;
			}
		}
		.is-text-center{
			text-align: center;
		}