<!doctype html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<link href="../static/css/divider.css" th:href="@{/css/divider.css}" rel="stylesheet" />
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<section class="section hero is-black is-fullheight">
		<div class="hero-body">
			<div class="container is-text-center">
				<h1 class="title is-1 has-text-danger">Champflix</h1>
				<div class="astrodivider">
					<div class="astrodividermask">
						<span class="subtitle home"> Stream na! </span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section hero is-black">
		<div class="hero-header"></div>
		<div class="hero-body">
				<div class="container cf">
					<div class="columns is-multiline">
						<div th:each="tvseries : ${seriesList}" class="column is-one-quarter animation-element bounce-up cf">
							<div class="card subject">
							<div class="card-image">
									<figure class="image is-4by3">
									<img src="../static/images/brba.jpg" width="1000" th:src="@{images/brba.jpg}"/>
										<!-- <img src="https://bulma.io/images/placeholders/1280x960.png"
											alt="Placeholder image"> -->
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<h1 th:text="${tvseries.title}" class="title is-4 has-text-black"></h1>
											<div class="tags has-addons">
												<span class="tag is-light">
													<label th:text="${tvseries.genre}" class="has-text-danger"></label>
												</span>
												<span class="tag is-black">
													<label th:text="${tvseries.rating}" class="has-text-success"></label>
												</span>
											</div>
										</div>
									</div>

									<div class="content">
										<p class="is-small" th:text="${tvseries.summary}"></p>
										<a href="#">#css</a> <a href="#">#responsive</a> <br>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
		</div>
	</section>
	<section class="section hero is-black is-medium">
		<div class="hero-body">
			<div class="content has-text-centered">
				<p>
					<strong class="has-text-danger">ChampFlix</strong> by <a href="#">Allan De La Cruz</a>
				</p>
			</div>
		</div>
	</section>
<script src="../js/animation.js"></script>
</body>
</html>

