<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Display Series Details</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<style>
		.center{
			text-align: center;
		}

	</style>
</head>
<body>
	<section class="section hero is-black is-medium">
		<div class="hero-body center has-text-white">
			<h1 class="title has-text-danger">Champflix</h1>
			<p class="subtitle">Stream na!</p>
		</div>
	</section>
	<section class="section hero is-black">
		<div class="hero-header center">
<!--			<h1 class="title">Champflix</h1>-->
<!--			<p class="subtitle">Stream na!</p>-->
		</div>
		<div class="hero-body">
			<div class="container">
				<div class="columns is-multiline">
					<div th:each="tvseries : ${seriesList}" class="column is-one-quarter">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png"
										 alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<!-- <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                                alt="Placeholder image">
                                        </figure>
                                    </div> -->
									<div class="media-content">
										<p th:text="${tvseries.title}" class="title is-4 has-text-black">Title</p>
										<div class="tags has-addons">
											<span class="tag is-black has-text-danger" th:text="${tvseries.genre}"></span>
											<span class="tag is-dark" th:text="${tvseries.rating}"></span>
										</div>

									</div>
								</div>
								<div class="content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis cumque deserunt distinctio dolores fugit illum obcaecati quod similique voluptatibus?
										<a href="#">#css</a> <a href="#">#responsive</a> <br>
									</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-footer">
			Footer
		</div>
	</section>
	<!-- <table border="1">
		<tr>
			<th>Title</th>
			<th>Genre</th>
			<th>Rating</th>
			<th>Channel</th>
			<th>Language</th>
			<th>Grade</th>
		</tr>
		<tr th:each="tvseries : ${seriesList}">
			<td th:text="${tvseries.title}">Title</td>
			<td th:text="${tvseries.genre}">Genre</td>
			<td th:text="${tvseries.rating}">Rating</td>
			<td th:text="${tvseries.channel}">Channel</td>
			<td th:text="${tvseries.language}">Language</td>
			<td th:text="${tvseries.grade}">Grade</td>
		</tr>
	</table> -->
	<!-- <strong><a href="/">Click here to go back</a></strong> -->
</body>
</html>
