<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Display Series Details</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<section class="section">
    <div class="container">
      <h1 class="title">
        Java Streams
      </h1>
      <p class="subtitle">
        Principles and Practice
      </p>      
      <p class="subtitle is-6">
        References:
      </p>
      <a href="https://www.udemy.com/course/java-in-depth-become-a-complete-java-engineer/">Java in-Depth: Become a Complete Java Engineer (Dheeru Mundluru)</a><br/>
      <a href="https://stackify.com/streams-guide-java-8/">A Guide to Streams in Java 8: In-Depth Tutorial with Examples (Eugen Paraschiv)</a><br/>
      <a href="https://automationrhapsody.com/java-8-features-stream-api-explained/">Java 8 features – Stream API explained (Lyudmil Latinov)</a><br/>
      <a href="https://www.codementor.io/eh3rrera/using-java-8-method-reference-du10866vx">Java 8 Method Reference: How to Use it (Esteban Herrera)</a><br/>
      <a href="https://dzone.com/articles/performance-with-java8-streams">Performance with Java 8 Streams (Arun Pandey)</a><br/>
      <a href="https://jaxenter.com/java-performance-tutorial-how-fast-are-the-java-8-streams-118830.html">Java performance tutorial – How fast are the Java 8 streams? (Angelika Langer)</a>
      <a href="https://docs.oracle.com/javase/8/docs/api/java/util/stream/package-summary.html#package.description">Oracle Docs: Streams package</a><br/>
      <a href="https://docs.oracle.com/javase/8/docs/api/?java/util/stream/Stream.html">Oracle Docs: Streams interface</a><br/>
      <a href="https://docs.oracle.com/javase/8/docs/api/java/util/stream/Collectors.html">Oracle Docs: Collectors class</a><br/>
      <a href="https://docs.oracle.com/javase/8/docs/api/java/util/stream/Collector.html">Oracle Docs: Collector interface</a>
      
    </div>
  </section>
</body>
</html>