<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Display Series Details</title>
</head>
<body>
	<table th:each="row : ${seriesList}">
	<thead th:text="${row.key}"></thead>
		<th:block >
			<tr th:each="series: ${row.value}">
				<td th:text="${series.title}"></td>
				<td th:text="${series.rating}"></td>
				<!-- <td th:text="${row.value[0]}">Title</td> -->
				<!-- <td th:text="${tvseries.title}">Title</td>
				<td th:text="${tvseries.rating}">Rating</td> -->
			</tr>
		</th:block>
	</table>
	<strong><a href="/">Click here to go back</a></strong>
</body>
</html>